@page
@model RegisterModel
@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<h1>@ViewData["Title"]</h1>


<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-10">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <label asp-for="Input.PhotoPath"></label>
                <input asp-for="Input.PhotoPath" class="form-control custom-file-input" id="photopath" />
                <input class="form-control custom-file-input" type="file" name="photouser" id="photouserid" accept="image/png, image/jpeg" />
                <label class="custom-file-label" id="lblPhoto">Click para incluir uma Foto</label>
            </div>
        </div>
        <div style="float:right;width:100%">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            <a asp-action="Index" asp-controller="Usuario" class="btn btn-light">Voltar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Grupo de Acesso</label>
                @if (Model.Input.lstGrupoAcesso != null)
                {
                    @foreach (var item in Model.Input.lstGrupoAcesso)
                    {
                        <div style="padding-left:5px;">
                            <input type="checkbox" asp-for="Input.lstSelGrupoAcesso" />
                            <label asp-for="Input.PhoneNumber">@item.PageAcesso</label>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#lblPhoto').click(function () {
                $('#photouserid').click();
                console.log($(this));
            });

            const selectElement = document.querySelector('#photouserid');

            selectElement.addEventListener('change', (event) => {
                const result = document.querySelector('#lblPhoto');
                result.textContent = event.target.value;
            });

            $("#photouser").change(function () {
                $('#photopath').val($(this));
                console.log($(this));
            });

            $('#photouserid').change(function () {
                console.log($(this));
            });

        });
    </script>
}
